body {
    margin: 0;
    width: 100%; height: 100vh;
    overflow: hidden;
    color: #fff;
    background: linear-gradient(-45deg, #66157f, #7f1563, #1f95bf, #1caa88);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    font-family: 'Quattrocento Sans', sans-serif;
}
@keyframes gradientBG {
    0%   {background-position: 0% 50%;}
    50%  {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
.container {width: 100%; height: 100vh; position: absolute; margin:0;text-align: center;}
.ha-top {height: 60%;margin:0;} .ha-footer{height: 20%; margin:0;} .ha-button {height: 20%;margin:0;}
.content { max-width: 80%; margin: 0 auto;padding: 0 5%; height: 30vh; }
h1 {font-size: 3rem; font-weight: 800;}
h2 {font-size: 5vh; color: #eee; font-weight: 500;}
button {
    position: relative; bottom:0;
    color: #fff;
    background-color: #3A0C6A;
    border: none;
    width: 200px;
    padding: 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}
button:hover{
    background:#fff;
    box-shadow:0px 2px 10px 5px #3A0C6A;
    color:#000;
}
button:after {
    content: "";
    background: #3A0C6A;
    border: none;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}
button:active:after {padding: 0; margin: 0; opacity: 1; transition: 0s; border:none;}
.icon {color: #3A0C6A;} .icon:hover{color: #fff;}
